* {
  margin: 0;
  font-family: "Work Sans", sans-serif;
}
.span-style1 {
  color: #ff900e;
}
.span-style2 {
  color: #727272;
}
body {
  width: 1533px;
}
/* header style */
.header {
  background-color: rgba(255, 144, 14, 0.1);
  text-align: center;
}
.header-section {
  display: flex;
  justify-content: space-around;
  padding-top: 30px;
  align-items: center;
}
.header-logo {
  font-weight: 700;
  font-size: 30px;
  color: #131313;
}
.nav ul {
  display: flex;
}
.nav ul li {
  list-style-type: none;
  margin-left: 40px;
}
.nav ul li a {
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  color: #424242;
}
.header-data {
  margin-top: 60px;
}
.header-title {
  font-size: 50px;
  font-weight: 700;
}
.header-para {
  margin-top: 10px;
  font-weight: 400;
  font-size: 16px;
  color: #727272;
  margin-bottom: 30px;
}
.btn {
  padding: 20px;
  border: none;
  border-radius: 10px;
  font-weight: 600;
  font-size: 20px;
  color: #ffffff;
  background-color: #ff900e;
  cursor: pointer;
}
.header-img img {
  margin-top: 40px;
  margin-bottom: 30px;
  width: 75%;
  border-radius: 10px;
}

/* first section style */
.features-section {
  margin-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.features-img {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
}
.features-img img {
  width: 250px;
}
.features-data {
  width: 420px;
  margin-left: 70px;
}
.features-title {
  font-size: 35px;
  font-weight: 700;
}
.features-para {
  margin-top: 20px;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 16px;
  color: #727272;
  text-align: justify;
}

/* second-section-style */
.features-tech-section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  gap: 70px;
}
.features-tech-container {
  width: 460px;
}
.features-tech-start {
  display: flex;
  gap: 20px;
}
.front-color {
  width: 5px;
  height: 90px;
  background: #ff900e;
}
.features-tech-title {
  font-weight: 700;
  font-size: 35px;
}
.features-tech-para {
  margin-top: 15px;
  font-weight: 400;
  font-size: 16px;
  color: #727272;
}
.blogs {
  margin-top: 50px;
  width: 400px;
  padding: 30px;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
}
.blog-title {
  font-weight: 600;
  font-size: 20px;
}
.blog-para {
  margin-top: 10px;
  font-weight: 400;
  font-size: 16px;
  color: #727272;
}

.architect-img {
  width: 600px;
}
.box-button {
  width: 250px;
  height: 130px;
  background-color: #ff900e;
  border-radius: 10px;
  position: relative;
  bottom: 65px;
  right: 45px;
  cursor: pointer;
  border: none;
}
.box-btn-title {
  font-weight: 700;
  font-size: 45px;
  color: #ffffff;
  line-height: 40px;
}
.span-style3 {
  font-size: 16px;
}
/* third section style */
.third-section-data {
  margin-left: 200px;
}
.third-section-title {
  font-size: 30px;
  font-weight: 700;
}
.third-section-para {
  margin-top: 20px;
  font-size: 16px;
  font-weight: 400;
  color: #727272;
}
.company-achieve {
  display: flex;
  justify-content: center;
  margin-top: 90px;
}
.company-acheieve-box {
  width: 200px;
  height: 170px;
  border: 2px solid #ff900e;
  text-align: center;
  margin-left: 70px;
  border-radius: 10px;
}
.company-acheieve-box img {
  margin-top: 30px;
}
.box-num {
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 30px;
}
.box-para {
  font-weight: 500;
  color: #727272;
}

/* sponsor section style */
.sponsor-section {
  margin-top: 100px;
  text-align: center;
}
.sponsor-title {
  font-weight: 700;
  font-size: 35px;
  margin-bottom: 20px;
}
.sponsor-para {
  font-weight: 400;
  font-size: 16px;
  color: #727272;
}
.sponsor-team {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sponsor-team img {
  margin-left: 70px;
}
/* footer style start */
.footer {
  text-align: center;
  margin-top: 120px;
  margin-bottom: 120px;
  height: 100px;
  width: 1170px;
  background: rgba(255, 144, 14, 0.1);
  border-radius: 10px;
  margin-left: 200px;
}
.footer-title {
  padding-top: 40px;
  font-weight: 400;
  font-size: 16px;
  color: #727272;
}

/* mobile responsive */
@media screen and (max-width:576px) {
  body {
    width: 100%;
  }
  /* header style */
  .header-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .header-logo {
    font-size: 20px;
  }
  .nav ul {
    display: flex;
    flex-direction: column;
  }
  .nav ul li{
    margin-top: 20px;
    margin-left: -30px;
  }
  .header-title {
    font-size: 30px;
  }

  .header-img img {
    width: 60%;
  }
/* first section style */
.features-section {
  display: flex;
  flex-direction: column;
}
.features-img {
  display: grid;
  grid-template-columns: 1fr;
}
.features-data {
  margin-top: 20px;
  width: 300px;
}
.features-title {
  font-size: 30px;
  font-weight: 700;
}
.btn{
  margin-left: 40px;
}
  /* second-section-style */
.features-tech-section {
  display: flex;
  flex-direction: column-reverse;
  gap: 20px;
}
.features-tech-container {
  width: 300px;
}
.front-color {
  width: 5px;
  height: 140px;
  background: #ff900e;
}

.features-tech-para {
  font-weight: 400;
  font-size: 16px;
  color: #727272;
}
.blogs {
  margin-top: 50px;
  width: 300px;
  padding: 20px;

}
.blog-title {
  font-weight: 600;
  font-size: 20px;
}
.blog-para {
  margin-top: 10px;
  font-weight: 400;
  font-size: 16px;
  color: #727272;
}
.architect-img {
  width: 300px;
  margin-left: 40px;
}
.box-button {
  width: 150px;
  height: 90px;
  position: relative;
  bottom: 95px;
  left: 120px;
}
.box-btn-title {
  font-size: 25px;
}

/* third section style */
.third-section-data {
  width: 300px;
  margin-left: 120px;
  text-align: center;
  margin-top: 30px;
}
.company-achieve {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.company-acheieve-box {
  width: 200px;
  height: 170px;
  border: 2px solid #ff900e;
  text-align: center;
  border-radius: 10px;
  margin-top: 20px;
}

/* sponsor section style */
.sponsor-data{
  text-align: center;
}
.sponsor-team {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.sponsor-team img {
  margin-top: 20px;
}

/* footer style start */
.footer {
  text-align: center;
  margin-top: 80px;
  margin-bottom: 90px;
  height: 100px;
  width: 300px;
  background: rgba(255, 144, 14, 0.1);
  border-radius: 10px;
  margin-left: 70px;
}
.footer-title {
  padding-top: 30px;
}

}





